div.details-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.details-container>header {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.details-container>header h6 {
    margin-left: 10px;
}

.details-container>header:hover {
    transform: scale(1.01);
}
